@model Scheduler_Project.Models.ViewModels.ShowProject
@{
    ViewBag.Title = "Details";
}

<h2>Project Details</h2>
<hr />


<dt>
    @Html.DisplayNameFor(model => model.Project.ProjectName)
</dt>
<dd>
    @Html.DisplayFor(model => model.Project.ProjectName)
</dd>
<dt>
    @Html.DisplayNameFor(model => model.Project.ProjectDate)
</dt>
<dd>
    @Html.DisplayFor(model => model.Project.ProjectDate)
</dd>
<dt>
    @Html.DisplayNameFor(model => model.Project.ProjectDescription)
</dt>
<div>
    @Html.DisplayFor(model => model.Project.ProjectDescription)
</div>

<div>
    @Html.ActionLink("Delete", "DeleteConfirm", new { id = Model.Project.ProjectID }, new { @class = "text-alert" }) |
    @Html.ActionLink("Edit", "Edit", new { id = Model.Project.ProjectID }, new { @class = "text-detail" }) |
    @Html.ActionLink("Go Back", "List", "Category")
</div>