@model Scheduler_Project.Models.ViewModels.ShowProject
<link rel="stylesheet" href="~/Content/Project/project.css" type="text/css" />
@{
    ViewBag.Title = "Details";
}

<h2><span class="convert__white">Project : </span>@Html.DisplayFor(model => model.Project.ProjectName)</h2>
<hr />

<div style="display:inline-block;" class="portion__all">
    <div class="portion__row">
        <div>
            <div class="project__item">
                <h4 style="color:#4f6b43;">
                    @Html.DisplayNameFor(model => model.Project.ProjectDate):
                </h4>
                <p>
                    @Html.DisplayFor(model => model.Project.ProjectDate)
                </p>
            </div>
            <div class="project__item">
                <h4 style="color:#4f6b43;">
                    @Html.DisplayNameFor(model => model.Project.ProjectDescription):
                </h4>
                <p>
                    @Html.DisplayFor(model => model.Project.ProjectDescription)
                </p>
            </div>
        </div>
        <div>
            <div class="project__item">
                <h4 style="color:#4f6b43;">
                    @Html.DisplayNameFor(model => model.Project.ProjectTime):
                </h4>
                <p>
                    @Html.DisplayFor(model => model.Project.ProjectTime)
                </p>
            </div>
            <div class="project__item">
                <p>
                    <a href="/Inform/Create" class="add__button">Add Extra Details</a>
                </p>
                <h4 style="color:#4f6b43;">
                    List:
                </h4>
                @foreach (var item in Model.ProjectInforms)
                {
                    <ul>
                        <li>@Html.ActionLink(item.InfoData, "Details", "Inform", new { id = item.InformID }, new { })</li>
                    </ul>
                }
            </div>
        </div>
    </div>
</div>

<div>
    @Html.ActionLink("Delete Project", "DeleteConfirm", new { id = Model.Project.ProjectID }, new { @class = "delete__button" })
    @Html.ActionLink("Edit Project", "Edit", new { id = Model.Project.ProjectID }, new { @class = "edit__button" })
    @Html.ActionLink("Go Back To Category", "Details", "Category", new { id = Model.Project.CategoryID }, new { @class = "back__button" })
</div>
