@model Scheduler_Project.Models.ViewModels.ShowProject
@{
    ViewBag.Title = "Details";
}

<h2>Project Details</h2>
<hr />

    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Project.ProjectName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Project.ProjectDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Project.ProjectDescription)
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    @Html.DisplayFor(model => model.Project.ProjectName)
                </td>
                <td>
                    @Html.DisplayFor(model => model.Project.ProjectDate)
                </td>
                <td>
                    @Html.DisplayFor(model => model.Project.ProjectDescription)
                </td>
            </tr>
        </tbody>
    </table>

<div>
    @Html.ActionLink("Delete", "DeleteConfirm", new { id = Model.Project.ProjectID }, new { @class = "text-danger" }) |
    @Html.ActionLink("Edit", "Edit", new { id = Model.Project.ProjectID }, new { @class = "text-warning" }) |
    @Html.ActionLink("Go Back", "List", "Category")
</div>