@model Scheduler_Project.Models.ViewModels.UpdateProject

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>


@using (Html.BeginForm("Edit", "Project", new { id = Model.Project.ProjectID }, FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Update Project</h4>

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Project.ProjectID, new { Name = "ProjectID" })
        <div class="row">
            <div>
                <div class="form-group">
                    @Html.LabelFor(model => model.Project.ProjectName, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Project.ProjectName, new { htmlAttributes = new { @class = "form-space", Name = "ProjectName" } })
                        @Html.ValidationMessageFor(model => model.Project.ProjectName, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Project.ProjectDescription, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Project.ProjectDescription, new { htmlAttributes = new { @class = "form-space-bg", Name = "ProjectDescription" } })
                        @Html.ValidationMessageFor(model => model.Project.ProjectDescription, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Project.ProjectDate, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Project.ProjectDate, new { htmlAttributes = new { @class = "form-space", Name = "ProjectDate" } })
                        @Html.ValidationMessageFor(model => model.Project.ProjectDate, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Project.CategoryID, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        <select name="CategoryID">
                            @foreach (var Category in Model.Allcategories)
                            {
                                //Auto-selects the Category the Project is currently assigned to
                                string selected = "";
                                if (Model.Project.CategoryID == Category.CategoryID)
                                {
                                    selected = "";
                                }
                                <option value="@Category.CategoryID" @selected>@Category.CategoryName</option>
                            }
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="button btn btn-success" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to Details", "Details", new { id = Model.Project.ProjectID })
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
