@model Scheduler_Project.Models.ViewModels.ShowInform
<link rel="stylesheet" href="~/Content/Inform/inform.css" type="text/css" />
@{
    ViewBag.Title = "Details";
}

<h2><span class="convert__white">Inform Reminder : </span>@Html.DisplayFor(model => model.Inform.InfoData)</h2>
<hr />

<div style="display:inline-block;" class="portion__all">
    <div class="portion__row">
        @if (Model.Inform.InfoPhoneNumber != null)
        {
            <div class="project__item">
                <h4 style="color:#4f6b43;">
                    @Html.DisplayNameFor(model => model.Inform.InfoPhoneNumber):
                </h4>
                <p>
                    <i class="fa fa-phone-square"></i> <a href="tel:@Html.DisplayFor(model => model.Inform.InfoPhoneNumber)" target="_blank">
                        @Html.DisplayFor(model => model.Inform.InfoPhoneNumber)
                    </a>
                </p>
            </div>
        }
        @if (Model.Inform.InfoEmail != null)
        {
            <div class="project__item">
                <h4 style="color:#4f6b43;">
                    @Html.DisplayNameFor(model => model.Inform.InfoEmail):
                </h4>
                <p>
                    <i class="fa fa-envelope"></i> <a href="mailto:@Html.DisplayFor(model => model.Inform.InfoEmail)" target="_blank">
                        @Html.DisplayFor(model => model.Inform.InfoEmail)
                    </a>
                </p>
            </div>
        }
        @if (Model.Inform.InfoUrl != null)
        {
            <div class="project__item">
                <h4 style="color:#4f6b43;">
                    @Html.DisplayNameFor(model => model.Inform.InfoUrl):
                </h4>
                <p>
                    <i class="fa fa-link"></i> <a href="@Html.DisplayFor(model => model.Inform.InfoUrl)" target="_blank">
                        @Html.DisplayFor(model => model.Inform.InfoUrl)
                    </a>
                </p>
            </div>
        }
       </div>
</div>

<div>
    @Html.ActionLink("Delete Information", "DeleteConfirm", new { id = Model.Inform.InformID }, new { @class = "delete__button" })
    @Html.ActionLink("Edit Information", "Edit", new { id = Model.Inform.InformID }, new { @class = "edit__button" })
    @Html.ActionLink("Go Back To Project", "Details", "Project", new { id = Model.Inform.ProjectID }, new { @class = "back__button" })
</div>