@model Scheduler_Project.Models.ViewModels.UpdateInform

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>


@using (Html.BeginForm("Edit", "Inform", new { id = Model.Inform.InformID }, FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Update Inform</h4>

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Inform.InformID, new { Name = "InformID" })
        <div class="row">
            <div>
                <div class="form-group">
                    @Html.LabelFor(model => model.Inform.InfoData, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Inform.InfoData, new { htmlAttributes = new { @class = "form-space", Name = "InfoData" } })
                        @Html.ValidationMessageFor(model => model.Inform.InfoData, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Inform.InfoPhoneNumber, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Inform.InfoPhoneNumber, new { htmlAttributes = new { @class = "form-space", Name = "InfoPhoneNumber", type = "phonenumber" } })
                        @Html.ValidationMessageFor(model => model.Inform.InfoPhoneNumber, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Inform.InfoEmail, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Inform.InfoEmail, new { htmlAttributes = new { @class = "form-space", Name = "InfoEmail", type = "email" } })
                        @Html.ValidationMessageFor(model => model.Inform.InfoEmail, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Inform.InfoUrl, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Inform.InfoUrl, new { htmlAttributes = new { @class = "form-space", Name = "InfoUrl", type = "url" } })
                        @Html.ValidationMessageFor(model => model.Inform.InfoUrl, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Inform.ProjectID, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        <select name="ProjectID">
                            @foreach (var Project in Model.Allprojects)
                            {
                                //Auto-selects the Project the Inform is currently assigned to
                                string selected = "";
                                if (Model.Inform.ProjectID == Project.ProjectID)
                                {
                                    selected = "";
                                }
                                <option value="@Project.ProjectID" @selected>@Project.ProjectName</option>
                            }
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="button btn btn-success" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to Details", "Details", new { id = Model.Inform.InformID })
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
