@model Scheduler_Project.Models.ViewModels.UpdateTask

@{
    ViewBag.Title = "Create";
}

<h2>Create A New</h2>

@using (Html.BeginForm())
{
    //This will set a hidden input field with value "_RequestVerificationToken"
    //The PlayerController Create Method will look for this token
    //This helps secure the Create() method from being called from other pages.
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <h4>Task</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div class="form-group">
        @Html.LabelFor(model => model.Task.TaskName, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Task.TaskName, new { htmlAttributes = new { @class = "form-control", Name = "TaskName" } })
            @Html.ValidationMessageFor(model => model.Task.TaskName, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Task.TaskDescription, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Task.TaskDescription, new { htmlAttributes = new { @class = "form-control", Name = "TaskDescription" } })
            @Html.ValidationMessageFor(model => model.Task.TaskDescription, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Task.TaskDate, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Task.TaskDate, new { htmlAttributes = new { @class = "form-control", Name = "TaskDate" } })
            @Html.ValidationMessageFor(model => model.Task.TaskDate, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Task.CategoryID, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <select name="CategoryID">
                @foreach (var Category in Model.Allcategories)
                {
                    <option value="@Category.CategoryID">@Category.CategoryName</option>
                }
            </select>
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Create" class="btn btn-default" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Back to List", "List")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
