@model Scheduler_Project.Models.ViewModels.ShowTask
@{
    ViewBag.Title = "Details";
}

<h4>Details</h4>
<hr />
<dl>
    <dt>
        @Html.DisplayNameFor(model => model.Task.TaskName):
    </dt>
    <dd>
        @Html.DisplayFor(model => model.Task.TaskName)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.Task.TaskDescription):
    </dt>
    <dd>
        @Html.DisplayFor(model => model.Task.TaskDescription)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.Task.TaskDate):
    </dt>
    <dd>
        @Html.DisplayFor(model => model.Task.TaskDate)
    </dd>
</dl>
<div>
    @Html.ActionLink("Delete", "DeleteConfirm", new { id = Model.Task.TaskID }) |
    @Html.ActionLink("Edit", "Edit", new { id = Model.Task.TaskID }) |
    @Html.ActionLink("Back to List", "List")
</div>